extends ../layout

block content
  form(
    method=method
    action=action
  )
    each col in cols
      label
        strong #{col}
        input(name=col value=item[col])
        br
    label
      input(type="submit" value="Envoyer")